body {
    margin: 0 !important;
    height: 100vh;
    width: 100%;
}
.login {
    width: 100%;
    max-width: 540px !important;
    padding: 50px 20px !important;
   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
}
.login form {
    gap: 20px;
    display: flex;
    flex-direction: column;
}
.main-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}